ENVIRONMENT=development # Change this to production when testing with Stripe
DATABASE_URL=postgres://postgres:postgres@localhost:5432/marketplace?sslmode=disable
HMAC_SECRET=secret
STRIPE_BASE_URL=https://api.stripe.com/v1
STRIPE_SECRET_KEY=sk_test_xxxxxxx # Replace with your Stripe secret key
STRIPE_WEBHOOK_SIGNING_SECRET=whsec_xxxxxxx # Replace with your Stripe webhook signing secret
DURATION_ACCESS_TOKEN=15m # 15 minutes
DURATION_REFRESH_TOKEN=24h # 1 day