# General Configuration
APP_ID=marketplace # Used for logging purposes
ENVIRONMENT=development # Change this to production when testing with Stripe

# Database Configuration
DATABASE_URL=postgres://postgres:postgres@localhost:5432/marketplace?sslmode=disable
DATABASE_MAX_CONNECTIONS=80
DATABASE_MAX_IDLE_CONNECTIONS=5
DATABASE_CONNECTION_MAX_LIFETIME=30m
DATABASE_CONNECTION_MAX_IDLE_TIME=15m

# Logging Configuration
LOG_LEVEL=debug
LOG_FILE_PATH=log.log

# Stripe Configuration
STRIPE_BASE_URL=https://api.stripe.com/v1
STRIPE_SECRET_KEY=sk_test_xxxxxxx # Replace with your Stripe secret key
STRIPE_WEBHOOK_SIGNING_SECRET=whsec_xxxxxxx # Replace with your Stripe webhook signing secret

# JWT Configuration
DURATION_ACCESS_TOKEN=15m # 15 minutes
DURATION_REFRESH_TOKEN=24h # 1 day
HMAC_SECRET=secret
REQUIRE_INVITE_CODE=true # Only allow users with a valid invite code to register
