name: marketplace

services:
  nginx:
    container_name: nginx
    build:
      context: ../../
      dockerfile: deploy/prod/Dockerfile.nginx
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 5
    env_file:
      - .env
    # TODO: Resource limits to be tuned later      
    # mem_limit: 1g
    # mem_reservation: 512m
    # cpus: 1.0            
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ssl-certs:/etc/letsencrypt:ro
    depends_on:
      - api
      - web

  api:
    container_name: api
    build:
      context: ../../
      dockerfile: deploy/prod/Dockerfile.api
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 5
    env_file:
      - .env
    # TODO: Resource limits to be tuned later      
    # mem_limit: 1g
    # mem_reservation: 512m
    # cpus: 1.0            
    volumes:
      - images-data:/images:rw
    depends_on:
      - postgres
      - imgproxy
      - rembg

  web:
    container_name: web
    build:
      context: ../../
      dockerfile: deploy/prod/Dockerfile.web
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 5
    env_file:
      - .env
    # TODO: Resource limits to be tuned later      
    # mem_limit: 1g
    # mem_reservation: 512m
    # cpus: 1.0            
    depends_on:
      - api
  
  postgres:
    container_name: postgres
    build:
      context: ../../
      dockerfile: deploy/prod/Dockerfile.postgres
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 5
    env_file:
      - .env
    # TODO: Resource limits to be tuned later      
    # mem_limit: 1g
    # mem_reservation: 512m
    # cpus: 1.0            
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    # PostgreSQL Docker image uses a custom/special entrypoint script.
    # To avoid overriding it, run command from here rather than CMD within the Dockerfile.
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    

  imgproxy:
    container_name: imgproxy
    build:
      context: ../../
      dockerfile: deploy/prod/Dockerfile.imgproxy
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 5
    env_file:
      - .env
    volumes:
      - images-data:/images:ro
    # TODO: Resource limits to be tuned later      
    # mem_limit: 1g
    # mem_reservation: 512m
    # cpus: 1.0            

  rembg:
    container_name: rembg
    build:
      context: ../../
      dockerfile: deploy/prod/Dockerfile.rembg
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 10m
        max-file: 5
    env_file:
      - .env
    # TODO: Resource limits to be tuned later      
    # mem_limit: 1g
    # mem_reservation: 512m
    # cpus: 1.0      

volumes:
  postgres-data:
  images-data:
  ssl-certs:
