/* josefin-sans-100 - latin_latin-ext */
@font-face {
  font-display: block; /* Block for logo font - prevent flash */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/josefin-sans-v34-latin_latin-ext-100.woff2') format('woff2');
}

/* josefin-sans-300 - latin_latin-ext */
/* @font-face {
  font-display: block;
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/josefin-sans-v34-latin_latin-ext-300.woff2') format('woff2');
} */

/* roboto-mono-regular - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-mono-v31-latin_latin-ext-regular.woff2') format('woff2');
}

/* open-sans-300 - latin_latin-ext */
@font-face {
  font-display: block; /* Block for body text - smoother experience */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/open-sans-v43-latin_latin-ext-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-regular - latin_latin-ext */
@font-face {
  font-display: block; /* Block for body text - smoother experience */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/open-sans-v43-latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-italic - latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/open-sans-v43-latin_latin-ext-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
